*,
html,
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: none;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

button {
  margin: 0%;
  padding: 0%;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
  text-decoration: none;
}

.body {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 40px 100px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__linkHome {
  height: 100%;
  cursor: pointer;
}
.header__linkHome__img {
  height: 100%;
}
.header__h1 {
  color: #901c1c;
  font-size: 2.25rem;
  font-weight: 400;
}

.mainPhotographerProfiles {
  width: 100%;
  height: auto;
  margin-top: 110px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 1rem;
}

.photographerProfileCard {
  width: 100%;
  margin-bottom: 80px;
}
.photographerProfileCard__header {
  width: 100%;
}
.photographerProfileCard__header__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.photographerProfileCard__header__link__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photographerProfileCard__header__link__title {
  margin-top: 20px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  color: #d3573c;
}
.photographerProfileCard__footer {
  text-align: center;
}
.photographerProfileCard__footer__localize {
  color: #901c1c;
}
.photographerProfileCard__footer__tagline {
  margin-top: 3px;
  color: #000000;
}
.photographerProfileCard__footer__price {
  margin-top: 3px;
  color: #757575;
}

.main {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.footerBannerInfos {
  position: fixed;
  bottom: 0%;
  right: 36px;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #db8876;
}
.footerBannerInfos__ctn-likes {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.footerBannerInfos__ctn-likes__number {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.footerBannerInfos__ctn-likes__icon {
  margin-left: 5px;
}
.footerBannerInfos__ctn-price {
  padding: 20px 30px;
}
.footerBannerInfos__ctn-price__price, .footerBannerInfos__ctn-price__txt {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

.photogapherProfileBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  border-radius: 5px;
  background-color: #fafafa;
}
.photogapherProfileBanner__ctn-txt__title {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}
.photogapherProfileBanner__ctn-txt__localize {
  margin-top: 1rem;
  font-size: 24px;
  color: #901c1c;
}
.photogapherProfileBanner__ctn-txt__tagline {
  margin-top: 19px;
  font-size: 18px;
  color: #525252;
}
.photogapherProfileBanner__ctn-img {
  margin: 56px 0px 57px 0px;
}
.photogapherProfileBanner__ctn-img__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#PhotographerContactForm {
  display: none;
}

.PhotographerContactForm {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px 35px 40px 35px;
  border-radius: 5px;
  background-color: #db8876;
  box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
  z-index: 2222;
}
.PhotographerContactForm__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.PhotographerContactForm__header__title {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: 400;
}
.PhotographerContactForm__form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-txt {
  color: #312e2e;
  font-size: 36px;
  font-weight: 400;
}

.input-txt {
  width: 600px;
  height: 70px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
}
.input-txt:focus {
  outline: 4px solid #901c1c;
}

.input-textarea {
  width: 600px;
  height: 170px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
}
.input-textarea:focus {
  outline: 4px solid #901c1c;
}

.button--openModal {
  padding: 24px 20px;
  border-radius: 5px;
  background-color: #901c1c;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
.button--openModal:hover {
  background-color: #d3573c;
  color: #000000;
  cursor: pointer;
}

.button--closeModal {
  position: relative;
  background-color: transparent;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.button--closeModal::before, .button--closeModal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 0.5rem;
  background-color: #ffffff;
}
.button--closeModal::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button--submitModal {
  width: 170px;
  height: 70px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.button--submitModal:hover {
  border: 4px solid #901c1c;
  background-color: #d3573c;
}

.mediaOption {
  width: 25%;
  position: relative;
  display: flex;
  margin-top: 20px;
  z-index: 1111;
}
.mediaOption__label {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.mediaOption__select {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #901c1c;
}
.mediaOption__select__ctn-icon {
  position: absolute;
  top: 18px;
  right: 10px;
  animation: transform 200ms ease-in-out;
}
.mediaOption__select__ctn-icon__icon {
  border-radius: 5px;
}
.mediaOption__select__ctn-icon:hover {
  transform: rotate(180deg);
}
.mediaOption__select__option {
  width: 170px;
  height: 70px;
  padding-left: 20px;
  background-color: transparent;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.mediaOption__select__option:nth-child(3) {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.media {
  width: 100%;
  height: auto;
  margin-top: 110px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 1rem;
}

.mediaCard {
  width: 350px;
  height: auto;
}
.mediaCard__header {
  width: 100%;
  height: auto;
}
.mediaCard__header__link {
  width: 100%;
  height: 300px;
}
.mediaCard__header__link__media--img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.mediaCard__header__link__media--video {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.mediaCard__footer {
  width: 100%;
  height: 30px;
  margin: 10px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.mediaCard__footer__title {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mediaCard__footer__likes {
  display: flex;
  font-size: 24px;
  font-weight: 400;
}
.mediaCard__footer__likes__number {
  color: #901c1c;
  margin-right: 4px;
  font-weight: 500;
}
.mediaCard__footer__likes__img {
  width: 21px;
  height: 14px;
}

.lightBox {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1111;
  width: 100%;
  height: 100vh;
  padding: 60px 100px 20px 100px;
  overflow: hidden;
  background-color: #ffffff;
}
.lightBox__ctn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 96px;
}
.lightBox__ctn__ctn-slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.lightBox__ctn__ctn-slides__slide {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 90%;
}
.lightBox__ctn__ctn-slides__slide__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.lightBox__ctn__ctn-slides__slide__title {
  margin-top: 12px;
  font-size: 24px;
  color: #901c1c;
}

.lightBox__ctn-btn {
  position: relative;
  width: 100%;
  height: 100%;
}

.button--closeLightBox {
  position: absolute;
  right: 0%;
  top: 0%;
}

.button--prevLightBox {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.button--nextLightBox {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.button--lightBox {
  width: 96px;
  height: 96px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
