// main layout for display photographers profile cards
.mainPhotographerProfiles {
    width: 100%;
    height: auto;
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 1rem;
}
// - - -
