// import
@use "./fonts.scss" as fonts;
@use "../utils/colors.scss" as colors;
// - - -

// normalize bloc and inline for app
*,
html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    @include fonts.DMsans;
}
// - - -

// button config base
button {
    margin: 0%;
    padding: 0%;
    border: none;
    background-color: transparent;
    outline: 2px solid transparent;
}
button:focus {
    outline: 2px solid rgb(0, 162, 255);
}
// - - -
li {
    list-style: none;
    text-decoration: none;
}
